body{
    background-color: coral;
}

form{
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

#fname ~ #sname{
    margin: 5px;
}

button{
    margin-left: 50%;
    margin-right: 50%;
    background: linear-gradient(red, pink );
}

div#container{
    color: greenyellow;
    text-align: center;
}